GOOGLE_CLOUD_PROJECT=<YOUR_PROJECT_ID>
REGION=us-central1
SA_NAME=coffee-shop-agent-sa
SERVICE_ACCOUNT_ADDRESS=coffee-shop-agent-sa@<YOUR_PROJECT_ID>.iam.gserviceaccount.com
SPREADSHEET_ID=<KEEP_PRIVATE_AND_DO_NOT_COMMIT>
